{% from 'componentes/button-link.html' import button_link%}
{% extends 'index.html' %}

{%block title%}
Bienvenido {{name}}
{% endblock %}
{% block main %}
<form action="{{url_for('adminPost')}}" method="post">
    {{form_user.hidden_tag()}}
    <table class="admin-table">
        <thead>
            <tr>
                <th>Usario</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for row in form_user.rows %}
                {% if not row.nickname.data == 'root'%}
                    <tr class="celda">
                        {{row.hidden_tag()}}
                        <td>
                            {{row.nickname(class='celda-nickname', placeholder='nickname')}}
                        </td>
                        <td>
                            {{row.check(class='celda-check')}}
                        </td> 
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div class="buttons-form">
        {{form_user.submit(class="button-form", value="Modificar")}}
        <button class="button-form" href="{{url_for('hello')}}">
            <a href="{{url_for('hello')}}">
                Inicio
            </a>
        </button>
    </div>
</form>
{% endblock main %}