@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #1A1182;
}

body {
    width: 100vw;
    height: 100vh;
}

a {
    font-size: 18px;
    text-decoration: none;
    line-height: 2;
    color: #1A1182;
}

a:visited {
    color: #1A1182;
}

main {
    width: 320px;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(77, 220, 186, 0.62);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 5px solid #F21515
}

main h1 {
    font-size: 44px;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    color: rgb(41, 47, 52);
}

main h2 {
    text-align: center;
    color: rgb(41, 47, 52);
}

.button-link {
    width: 127px;
    height: 41px;
    text-decoration: none;
    text-align: center;
    background: rgba(91, 125, 242, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.button-link:hover {
    background: rgba(70, 219, 112, 0.7);
}

.flash {
    width: 320px;
    height: 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    background: #E8F3F0;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-form {
    width: 320px;
    height: 28px;
    margin-bottom: 9px;
    text-align: center;
    background: #E9E9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;
}

.input-form::placeholder {
    color: #C6C5C5;
}

.buttons-form {
    margin: auto;
}

.button-form {
    width: 105px;
    height: 41px;
    font-size: 18px;
    background: rgba(91, 125, 242, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

/* .button-form a {
    color: #1A1182;
} */