{% extends 'base.html' %} 
{% block title%}
    Singup
{% endblock title%}
{% block main %}
    <h2>Singup</h2>
    <form action="{{url_for('auth.singup')}}" method="post">
        {{singup_form.hidden_tag()}}
        {{singup_form.nickname(class="input-form", placeholder= 'nickname')}}
        {{singup_form.password(class="input-form", placeholder= 'password')}}
        <div class="buttons-form">
            {{singup_form.submit}}
            <button class="cancel" href="{{url_for('auth.singup')}}">
                <a href="{{url_for('auth.login')}}">
                    Login
                </a>
            </button>
        </div>
    </form>
{% endblock main %}